@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "微软雅黑";
}
ul li{
	list-style-type: none;
}
.audio-box{
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	color: #fff;
}
.audio-container{
	margin: 0 7.638889%;
}
.audio-view{
	position: relative;
	/* padding-left: 100px; */
	padding-right: 380px;
	height: 100px;
}
.audio-cover{
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0%);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000;
}
.audio-cover img{
	display: block;
	height: 100%;
	margin: auto;
}
.audio-body{
	padding: 0 10px;
}
.audio-title{
	font-weight: 400;
	font-size: 20px;
	line-height: 40px;
	overflow: hidden;
}
.music_title{
	position: absolute;
	bottom: 0;
	top: 220px;
    left: 50%;
    transform: translate(-50%,0%);
	display: flex;
	font-weight: 400;font-size: 16px;line-height: 20px;
}
.audio-backs{
	position: relative;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 10px;
	height: 20px;
}
.audio-this-time,
.audio-count-time{
	position: absolute;
	top: 0;
	width: 60px;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
}
.audio-this-time{
	left: 0;
}
.audio-count-time{
	right: 0;
	text-align: right;
}
.audio-setbacks{
	height: 6px;
	border-radius: 3px;
	background-color: #333;
}
.audio-setbacks{
	position: relative;
	top: 50%;
}
.audio-cache-setbacks,
.audio-this-setbacks{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 3px;
}
.audio-cache-setbacks{
	background-color: #535353;
	z-index: 1;
	cursor: pointer;
}
.audio-this-setbacks{
	background-color: #c70c0c;
	z-index: 2;
}
.audio-backs-btn{
	position: absolute;
	width: 14px;
	height: 14px;
	margin-top: -7px;
	top: 50%;
	right: -7px;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
}
.audio-btn{
	position: absolute;
	width: 150px;
	height: 100px;
	right: 0;
	top: 0;
}
.audio-select{
	height: 30px;
    margin-top: 42px;
    width: 355px;
    float: right;
}
.audio-select > div{
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	cursor: pointer;
}
.audio-select > div + div{
	margin-left: 36px;
}
.audio-prev{
	background-image: url('../../../public/img/prev.png');
}
.audio-next{
	background-image: url('../../../public/img/next.png');
}
.audio-play{
	background-image: url('../../../public/img/play.png');
}
.audio-stop{
	background-image: url('../../../public/img/pause.png');
}
.audio-menu{
	background-image: url('../../../public/img/menu.png');
}
.audio-volume{
	background-image: url('../../../public/img/volume.png');
}
.audio-list{
	color: #000;
	background-color: transparent;
	bottom: 100px;
	width: 100%;
	border-radius: 5px;
	display: none;
}
.audio-list-head{
	position: relative;
	padding-bottom: 10px;
}
.audio-list-head p{
	padding-left: 8px;
	font-size: 18px;
}
.audio-list-head span{
	position: absolute;
	right: 8px;
	top: 0;
	font-size: 12px;
	display: block;
	width: 35px;
	line-height: 25px;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}
.audio-inline li{
	position: relative;
	font-size: 16px;
	padding: 12px 0;
	line-height: 2;
	border-bottom: 1px solid rgba(204, 204, 204, 0.075);
}
.audio-inline li:hover{
	background-color: rgba(204, 204, 204, 0.075);
}
.audio-inline a{
	font-size: inherit;
	color: #fff;
	text-decoration: none;
	height: 32px;
	overflow: hidden;
	display: initial;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.audio-inline .song_singer{
	position: absolute;
	right: 378px;
}
.audio-inline .song_duration{
	position: absolute;
	right: 35px;
}
.menu-show,
.audio-show-volume{
	display: block !important;
}
.audio-set-volume{
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 66px;
	width: 30px;
	height: 120px;
	right: 63px;
	z-index: 999;
	display: none;
}
.volume-box{
	width: 5px;
	margin: auto;
	display: block;
	position: relative;
	background-color: #000;
	border-radius: 2.5px;
	height: 100px;
	bottom: -10px;
}
.volume-box span{
	display: block;
	width: 11px;
	height: 11px;
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	margin-left: -5.5px;
	margin-top: -5.5px;
	left: 50%;
	cursor: pointer;
}
.volume-box i{
	position: absolute;
	width: 100%;
	border-radius: 2.5px;
	background-color: #c70c0c;
	height: 0;
	display: block;
	bottom: 0;
}