* {box-sizing: border-box; }
*:before, *:after {box-sizing: border-box;}
body {line-height: 1.8;color: #666;}
h1, h2, h3, h4, h5, h6 {margin: 2em 0 1em;}
a {text-decoration: none;color: #9999ff;}
.site-content {width: 100%;max-width: 100%;}
.disclist-list{width: 100%;list-style: none;padding: 0;display: flex;flex-wrap: wrap;height: 290px;}
.section-title {text-align: center;text-transform: uppercase;flex-wrap: wrap}
.project {float: left;margin-right: 20px;}
.project-list:after {content: " ";display: block;clear: both;}
.project__image {display: block;position: relative;}
.project__image img {height:224px; max-width: 100%;display: block;}
.project__image:after {content: " ";width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));transition: opacity .3s ease;opacity: 0; }
.project__card {position: relative;will-change: transform;transition: box-shadow .3s ease;box-shadow: 0 10px 30px transparent;cursor: pointer;}
.project__card.hover-in {transition: -webkit-transform .2s ease-out;transition: transform .2s ease-out;transition: transform .2s ease-out, -webkit-transform .2s ease-out; }
.project__card.hover-out {transition: -webkit-transform .2s ease-in;transition: transform .2s ease-in;transition: transform .2s ease-in, -webkit-transform .2s ease-in; }
.project:hover .project__card {box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }
.project:hover .project__image:after {opacity: 1; }
.project:hover .project__detail {border-width: 1px;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); }
.project:hover .project__title, .project:hover .project__category {-webkit-transform: translateY(0) scale(1);-ms-transform: translateY(0) scale(1);transform: translateY(0) scale(1);opacity: 1; }
.project__detail {position: absolute;left: 30px;right: 30px;top: 30px;bottom: 30px;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;text-align: center;pointer-events: none;-webkit-transform: translateZ(30px);transform: translateZ(30px);border: 0 solid #00BCD4;transition: border .4s ease; }
.project__title {margin: 0 0 3px;font-size: 36px;font-weight: 700;transition: .4s ease;opacity: 0;-webkit-transform: translateY(40px) scale(0);-ms-transform: translateY(40px) scale(0);transform: translateY(40px) scale(0);will-change: transform;}
.project__title a {color: white; }
.pos-relative{position: relative;}
.title{position: absolute;top: 234px;left: 0;}
.title a{font-size: 15px;color: #000;text-decoration: none;}
.title a:hover{color: #31c27c;}
.title p{text-align: left;color: #999;font-size: 14px;}
.project__category {opacity: 0;transition: .4s ease;transition-delay: .1s;-webkit-transform: translateY(40px) scale(0);-ms-transform: translateY(40px) scale(0);transform: translateY(40px) scale(0);will-change: transform; }
.project__category a {color: rgba(255, 255, 255, 0.8);font-size: 1.3em;}
